{{ include('pages/inc/header.html.twig') }}
<div class="container">
    <h3>View single post</h3>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Post
        </a>
        <p class="list-group-item">{{post.title}}</p>
        <p class="list-group-item">{{post.description}}</p>
        <p class="list-group-item">{{post.category}}</p>
        <p class="list-group-item">
            <a href="{{ absolute_url(asset('')) }}app_dev.php/post" class="btn btn-primary btn-sm">Back</a>
        </p>
        
        
        
    </div>
    
    
</div>


{{ include('pages/inc/footer.html.twig') }}